<h4>help me figure it out</h4>

<p>{{myDate}}</p>
<p>offset {{offset}}</p>
<p>MyDate shortDate offset {{myDate | date: 'shortDate' : 'offset'}}</p>
<p>MyDate shortDate {{myDate | date: 'shortDate'}}</p>
<p>MyDate with timezone UTC-4 {{myDate | date: 'shortDate' : 'UTC-4'}}</p>




<div class="container">
  <form
    #form="ngForm" 
    (ngSubmit)="processForm(form)"
  >
    <select
      [(ngModel)]="selectedItem"
      name="category"
    >
    <option
      *ngFor="let category of categories"
      [value]="category._id"
    >
      {{ category.name }}
    </option>  
    </select>
    <button type="submit">Submit</button>
  </form>
</div>